# .gitignore pour projet Nuxt (Nuxt 2 & Nuxt 3)

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Nuxt / build outputs
.nuxt/
.output/
dist/
build/

# Cache / temp
.cache/
.parcel-cache/
.vite/
.npm/
*.tmp

# Logs
logs/
*.log

# Environment / secrets
.env
.env.local
.env.*.local
.env.*.secret

# Coverage / test
coverage/
.coverage
nyc_output/

# Serverless / hosting outputs
.serverless/
.vercel/
.vercel_build/
.netlify/
.aws-sam/

# IDEs & editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Misc
.sass-cache/
*.pem
*.key
*.crt